body {
    margin: 0;
    padding: 0;
    background-color: #60bddf;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 

#counterHeading {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;

}

#counter-value{
    color: rgb(29, 0, 55);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:50px;
    background-color: blue;
    width: 22%;
    height: 59px;
    margin-left: 20px;
}

#Count{

    display: flex;
    align-items: center;
    justify-content: center;
    
}




button {
    font-size: 30px;
    cursor: pointer;
    margin: 10px;
    background-color: blueviolet;
    border:0;
    border-radius: 10px;
    width: 100px;

}

#buttonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}



